<h1>Question#ask</h1>
<p>Find me in app/views/question/ask.html.erb</p>
<div class="flex-container">
	<div class="row">
		<div class="col-sm-6 col-md-offset-2 ">
			<h2>Question:</h2>
			<form action="/answer" method="get">
				<input type="text" name="q"><br>
				<input type="submit" class="btn-primary btn-lg btn-block" value="Submit">
			</form>
		</div>
	</div>